@media (max-width: 768px){
    #bandeau span {
        display: none;
    }

    .navbar-header{
        float: none;
    }

    ul#portails_ent {
        margin-right: 15px;
    }

    #menu_principal {
        background: #e2e2e2;
        width: 100%;
    }

    #menu_principal > li {
        border-top: 1px solid #148cbc;
        font-size: 1.28571em;
        display: block;
        margin: 0;
        padding: 10px;
    }

    #menu_principal li ul {
        display: none;
        padding: 10px;
    }

    #menu_principal ul {
        border-top: none;
        z-index: 10;
    }

    #menu_principal ul li {
        display: block;
        padding: 10px;
        text-align: center;
        border-top: 1px solid white;
    }

    #menu_principal li:hover li a:hover, #menu_principal ul a:hover, #menu_principal ul a:focus{
        background: none;
        color: #fff;
    }

    #menu_principal ul li:not(:first-child):before {
        content: "";
        display: block;
    }

    #menu_principal > li > a:hover,
    #menu_principal li:hover > a{
        color: #148cbc;
        text-decoration:none;
    }

    #block-upjv-account-menu{
        margin-top: 0%;
    }

    #menu_pied_page li {
        padding: 0 35px 20px 0;
        margin: 0;
        display: block;
    }

    #menu_pied_page li:not(:first-child):before {
        content: "";
        margin: 0;
    }

    #reseaux_sociaux img{
        width: 80%;
    }

    #logo {
        font-size: 5.21429em;
    }

    #pied_page_rubriques > div {
        text-align: center;
        width: 60%;
        float: none;
    }

    #pied_page_logos {
        margin-top: -35%;
    }

    #bandeau_visuel {
        padding: 0 0 20.7%;
        background-size: contain;
    }

    #bandeau_visuel svg {
        max-height: 82.5%;
    }
}

@media (min-width: 769px){
    .navbar-nav {
        float: none;
    }

    #menu_principal > li {
        border-left: 1px solid #148cbc;
        display: inline-block;
        margin: 0;
        padding: 10px;
    }
}


