<div class="row">
    <div class="col-md-12">
        <div id="bandeau_visuel">
            <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="1021" height="210" viewBox="0 0 1021 210" preserveAspectRatio="xMaxYMax" class="Calque_1" xml:space="preserve">
				<path d="m -1.00005,-1 0,87 1,0 L 1021,0 l 0,-1 z" class="haut" style="fill:#fff;fill-opacity:1;stroke:none"></path>
                <path d="m 1021,157 -626,53 0,1 627,0 0,-54 z" transform="translate(-5e-5,0)" class="bas" style="fill:#fff;fill-opacity:1;stroke:none"></path>
			</svg>
		</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1 class="h1">{{ content.field_page_titre }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        {{ content.field_colonne_1 }}
    </div>
    <div class="col-md-5">
        {{ content.field_colonne_2 }}
    </div>
    <div class="col-md-3">
        {{ content.field_colonne_3 }}
    </div>
</div>
